[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qmlchart
Exec=/usr/bin/single-instance /opt/qmlchart/bin/qmlchart
Icon=/usr/share/icons/hicolor/80x80/apps/qmlchart80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
